name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      VAULT_ADDR: http://localhost:8200
      VAULT_TOKEN: root

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: install vault
        run: |
          VAULT_VERSION=$(curl -s https://api.releases.hashicorp.com/v1/releases/vault/latest | jq -r '.version')
          echo "Installing Vault ${VAULT_VERSION}"
          curl -sLo vault.zip "https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip"
          unzip vault.zip
          sudo mv vault /usr/local/bin/
          vault version

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.2"

      - name: install go-task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: linting
        run: terraform fmt -check -recursive

      - name: download docker container images
        run: docker compose pull

      - name: run terraform tests
        run: task test:terraform

      - name: run smoke tests
        run: task test:smoke
